body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  vertical-align: top;
}


.playerProfile-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}


.playerProfile-item {
  padding: 5px;
  margin-top: 10px;
  line-height: 150px;
  color: rgb(223, 13, 13);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.player-image {
  min-width: 100px;
}

.player-quotes {
  font-size: 20px;
}

.header-image {
  margin: auto;
  text-align: center;
  max-height: 100px;
}

.header {
  margin: auto;
  text-align: center;
  height: fit-content;
  background: yellowgreen;
  min-height: 120px;

}

.allTimeStats-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}


.allTimeStats-item {
  padding: 5px;
  margin-top: 10px;
  line-height: 150px;
  color: rgb(223, 13, 13);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}